@model AssignmentIdentity.ViewModels.NewCarViewModel


@{
    ViewData["Title"] = "AddCar";
}

<h1>AddCar</h1>

<h4>Car</h4>
<hr />
<div><div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="AddCar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godiste" class="control-label"></label>
                <input asp-for="Godiste" class="form-control" />
                <span asp-validation-for="Godiste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZapreminaMotora" class="control-label"></label>
                <input asp-for="ZapreminaMotora" class="form-control" />
                <span asp-validation-for="ZapreminaMotora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snaga" class="control-label"></label>
                <input asp-for="Snaga" class="form-control" />
                <span asp-validation-for="Snaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gorivo" class="control-label"></label>
                <input asp-for="Gorivo" class="form-control" asp-items="ViewBag.GorivoId">
            </div>
            <div class="form-group">
                <label asp-for="Karoserija" class="control-label"></label>
                <input asp-for="Karoserija" class="form-control" asp-items="ViewBag.KaroserijaId" />
            </div>

            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kontakt" class="control-label"></label>
                <input asp-for="Kontakt" class="form-control" />
                <span asp-validation-for="Kontakt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control  custom-file-input" />
                    <label class="custom-file-label">Izaberite sliku</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
   <script>
       $(document).ready(function () {
           $(".custom-file-input").on("change", function () {
               var fileName = $(this).val().split("\\").pop();
               $(this).next('.custom-file-label').html(fileName);
           });
       });
   </script>
}
